#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<script type="text/javascript">
<!--
 var textAction = #{jsAction @Surveys.getTextAnswers(':surveyId', ':questionId') /}
 var textSummaryAction = #{jsAction @Surveys.getTextSummary(':surveyId', ':questionId') /}
//-->
</script>


<div id="crudBlank" class="${type.name}">
    
    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

    <div class="objectForm">
    #{form action:@list()}
          Survey: ${survey.title}, Id: ${survey.id} <br>
          
          <input type="hidden" name="surveyId" value="${survey.id}">
    
        #{list items:questions, as:'question'}
      	    ${question.bulletNo}  ${question.title}<br>
      	    <p id="textSummaryForQuestion${question.id}"></p>
      	    <script type="text/javascript">
				   $('#textSummaryForQuestion${question.id}').load(
				     textSummaryAction({surveyId:'${survey.id}', questionId:'${question.id}'})
				   )
			</script>
				
      	    #{if question.answerOutputFormat.name=='chart'}  
      	     <img src="@{Surveys.drawBarChart(survey.id, question.id)}">
      	     <img src="@{Surveys.drawPIChart(survey.id, question.id)}">
	      	#{/if}
	      	#{elseif question.answerOutputFormat.name=='text'}
	      	  <div id="labelForQuestion${question.id}"></div>
	      	  <script type="text/javascript">
				   $('#labelForQuestion${question.id}').load(
				       textAction({surveyId:'${survey.id}', questionId:'${question.id}'})
				   )
				</script>
	      	#{/elseif} 
	        <br>
	      	<br>       
      	#{/list}
        
    #{/form}
    </div>

</div>