#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

    <div class="objectForm">
    #{form action:@saveAnswers()}
          Survey: ${survey.title}, Id: ${survey.id} <br>
          Name: ${survee} <br>
          
          <input type="hidden" name="surveyId" value="${survey.id}">
          <input type="hidden" name="survee" value="${survee}">
    
        #{list items:questions, as:'question'}
      	      ${question.bulletNo}  ${question.title}<br>
      	      
      	      #{if "text" == question.type.name } 
      	         <textarea rows=3 cols=120 name="answers[${question_index-1}].title" ></textarea>
      	      #{/if}
      	      #{else}
      	          #{list items:question.optionals, as:'qo'}
		      	      #{if "check" == question.type.name }
		      	         <input type="checkbox" name="answers[${question_index-1}].title" value="${qo.title}">${qo.title}
		      	      #{/if}
		      	      #{elseif "radio" == question.type.name}
		      	          <input type="radio" name="answers[${question_index-1}].title" value="${qo.title}">${qo.title}
		      	      #{/elseif}
		      	   #{/list}   
      	      #{/else}
	      	  <input type="hidden" name="questionIds[${question_index-1}]" value="${question.id}" >
	      	    <br>
	      	    <br>       
      	#{/list}
        
        
        <p class="crudButtons">
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>

</div>