#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

    <div class="objectForm">
    #{form action:@saveAnswers(), enctype:'multipart/form-data'}
          Survey: ${survey.title}, Id: ${survey.id} <br>
          Name: ${survee} <br>
          
          <input type="hidden" name="surveyId" value="${survey.id}">
          <input type="hidden" name="survee" value="${survee}">
    
        #{list items:questions, as:'question'}
      	      ${question.title}<br>
      	      #{if "check" == question.type.name }
      	      #{list items:question.optionals, as:'qo'}
      	         <input type="checkbox" value="${qo.title}">${qo.title} <br>
      	      #{/list}
      	      #{/if}
      	      #{elseif "text" == question.type.name}
      	          <input type='text' />
      	      #{/elseif}
      	#{/list}
        
        
        <p class="crudButtons">
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>

</div>