#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

    <div class="objectForm">
    #{form action:@saveAnswers()}
          Survey: ${survey.title}, Id: ${survey.id} <br>
          Name: ${survee} <br>
          
          <input type="hidden" name="surveyId" value="${survey.id}">
          <input type="hidden" name="survee" value="${survee}">
    
        #{list items:questions, as:'question'}
      	      ${question.title}<br>
      	      #{list items:question.optionals, as:'qo'}
	      	      #{if "check" == question.type.name }
	      	         <input type="checkbox" name="answers[${qo_index}].title" value="${qo.title}">${qo.title} <br>
	      	      #{/if}
	      	      #{elseif "text" == question.type.name}
	      	          <input type='text' name="answers[${qo_index}].title" />
	      	      #{/elseif}
	      	      #{elseif "radio" == question.type.name}
	      	          <input type="radio" name="answers[${qo_index}].title" value="${qo.title}">${qo.title} <br>
	      	      #{/elseif}
	      	           <input type="hidden" name="answers[${qo_index}].question.id" value="${qo.id}" >
      	      #{/list}
      	      
      	#{/list}
        
        
        <p class="crudButtons">
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>

</div>