#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

#{ifErrors}
 
   <h1>Oops...</h1>
 
   #{errors}
       <li>${error}</li>
   #{/errors}
 
#{/ifErrors}
#{else}
<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

    <div class="objectForm">
    #{form action:@loadQuestions(), enctype:'multipart/form-data'}
          Name: <input type = 'text' name = 'survee' /> <br>
    
           <select name = "surveyId" >
		        #{list items:surveys, as:'survey' }
        	      <option value=${survey.id}>${survey.title}</option>
        		#{/list}
           </select>
        
        
        <p class="crudButtons">
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>

</div>
#{/else}